h1 {
    color: red;
    background-color: blue;
    border: dotted yellow;
    margin: 5px;
    padding: 10px;
}

.first {
    border-bottom: 10px dashed black;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.second {
    width: 50%;
    height: 50%;
    border-bottom: 10px dashed black;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.text {
    text-align: center;
    padding: 15px;
    border: 10px dotted #000000;
    background-color: aqua;
    background-clip: border-box;
}

.ketchup {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.mayo {
    text-indent: 50px;
}

.kimchi {
    letter-spacing: 10px;
}

.butter {
    word-spacing: 15px;
}

.mustard {
    text-transform: capitalize;
}

.garlic {
    text-transform: lowercase;
}

.noodles {
    text-transform: uppercase;
}

.chicken {
    line-height: 10px;
}

.soup {
    text-shadow: 5px 4px rosybrown;
}