*{
    box-sizing: border-box;
    background-color: white;
}

.cover {
    width: 100%;
    height: 55em;
    text-align: center;
    float: left;
    padding-top: 5em;
    padding-bottom: 2em;
    display: table;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.author {
    color: #5B2C6F;
    font-style: italic;
}

.title {
    color: #212F3D;
}

.image2 {
    height=183px;
    width=301px;
}

.image3 {
    height=80px;
    width=241px;
}

.image4 {
    height=92px;
    width=242px;
}

.content {
    width: 100%;
    display: table;
    padding: 20px;
    height: 8em;
    float: left;
    display: table;
}

.chapters {
    font-family: arial;
    font-size: 2em;
}

.contents {
    font-size: 2em;
}


h3{
    text-align: center;
}

h4{
    text-align: right;
}

p{
    font-size: 1.2em;
}

