body{
    font-family: 'Trebuchet MS';
}

ul {
    list-style: none;
}

ul li:before {
    content: '✓' ;
}

.h1 {
    padding: 10px 0 0 40px;
}

.col1 {
    background-color: #445162;
    height: 30%;
    width: 100%;
    color: white;
    padding: 10px 0 0 0;
}

.col2 {
    width: 65%;
}

.col3 {
    background-color: #445162;
    height: 60%;
    color: white;
    padding-top: 10px;
    font-family: "Trebuchet MS";
    font-weight: bolder;
}

.col4 {
    float: left;
    width: 50%;
    background-color: #445162;
    padding-left: 350px;
}

.col5 {
    margin-left: 70px;
    float: left;
}

.text1 {
    float: left;
    padding-bottom: 10px;
}

.text2 {
    float: left;
    color: #445162;
    padding: 10px 0 0 25px;
}

.space1 {
    float: right;
    width: 30%;
    height: 70%;
    margin: 10px 50px 10px 10px;
    background-color: white;
}

.space2 {
    float: right;
    width: 25%;
    height: 60%;
    margin: 30px 40px 10px 10px;
    padding: 10px 30px 10px 10px;
    background-color: #445162;
}

.smth {
    height: 30%;
    padding: 10px 10px 10px 10px;
}

.contacts {
    text-align: center;
}

.button {
    border-radius: 4px;
    width: 75px;
    height: 25px;
}

input {
    height: 25px;
    width: 400px;
}

* {
    box-sizing: border-box;
}

.inf {
    text-align: center;
    padding-left: 10px;
}

.msg {
    height: 100px;
    padding-left: 10px;
}

button {
    padding: 20px 50px 20px 50px;
}

.button {
    margin-left: 130px;
}

.footer {
    font-size: small;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}