* {
    box-sizing: border-box;
}

body {
    padding-top: 20%;
}

h1,
.login,
.account,
.contact{
    width:80%;
    margin: 0 auto;
}

@supports (display: flex) {
    body {
        padding:0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h1, .login, .account, .contact {
        margin: 0;
        width: 80%;
    }
}

@supports (display: grid) {
    body {
        display: grid;
        grid-template-columns: 80%;
        align-content: center;
        align-items: stretch;
    }
    @media (min-width: 650px) {
        body {
            grid-template-columns: repeat(2, minmax(150px, 30%));
        }
        h1,
        .login {
            grid-column-start: span 2;
            width: auto;
        }
        .login > div {
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
        }
        .login > div.actions {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .account {
            border-right: 1px dotted rgb(227, 181, 221);
            padding: 0 10px 0 0;
            align-self: end;
            width: auto;
        }
        .contact {
            padding: 0 0 0 10px;
            width: auto;
        }
        input[type="submit"] {
            grid-column: 2;
        }
        .actions a {
            justify-self: end;
        }
    }
}

h1 {
    background-color: rgba(227, 181, 221, 0.8);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    font-size: 24px;
    line-height: 1.4;
}

.login {
    background-color: rgba(191, 216, 227, .4);
    border: 1px solid rgba(227, 181, 221, 0.8);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.login > div {
    padding: 5px 0;
}

input[type="submit"] {
    border: 1px solid rgba(227, 181, 221, 0.8);
    border-radius: 5px;
    color: #fff;
    background-color: rgb(169, 86, 132);
    font-size: 110%;
}

input[type="text"],
input[type="password"] {
    border: 1px solid rgba(227, 116, 131, 0.8);
    padding: 5px;
    border-radius: 5px;
    font-size: 110%;
    width: 100%;
}

.actions a {
    font-size: 80%;
}