* {
    font-family: Arial;
}
ol, li {
    margin: 0;
    padding: 0;
    float: none;
    list-style-type: none;
}
li {
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    line-height: 40px;
    color: white;
}
.pertable {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(19, 63px);
    grid-template-rows: repeat(10, 50px);
    max-width: 75%;
    margin: auto;
}
.nonmetal {
    background-color: #00a7a0;
}
.metalloid {
    background-color: #3ab54a;
}
.metal {
    background-color: #8cc63e;
}
.nemetal {
    background-color: #d8e02a;
}
.alkali-metal {
    background-color: #f25926;
}
.alkaline-earth-metal {
    background-color: #f89321;
}
.transition-metal {
    background-color: #fbb03b;
}
.noble-gas {
    background-color: #29aae3;
}
.lanthanoid {
    background-color: #c69c6c;
}
.actinoid {
    background-color: #a67c52;
}