
.bg-color {
    background-color: white;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 1px;
}

.sections {
    margin-bottom: 10px;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    border: 16px solid ;
    border-radius: 50%;
    border-top: 16px solid;
    width: 120px;
    height: 120px;
    animation: loading ease-out;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes loading {
    0% {
        transform: rotate(0deg); border-color: black; border-top-color: blue; opacity: 1; z-index: 1;
    }
    25% {
        transform: rotate(90deg); border-color: purple; border-top-color: black; opacity: 0,8; z-index: 1;
    }
    50% {
        transform: rotate(180deg); border-color: blue; border-top-color: purple; opacity: 0,8; z-index: 1;
    }
    75% {
        transform: rotate(270deg); border-color: black; border-top-color: blue; opacity: 0,6; z-index: 1;
    }
    100% {
        transform: rotate(360deg); border-color: purple; border-top-color: black; opacity: 0; z-index: -1;
    }
}

.animation {
    animation: moving linear;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: both;

}

@keyframes moving {
    0% {
        opacity: 0; z-index: -1;
    }
    100% {
        opacity: 1; z-index: 1;
    }