.ak{
    width: 8%;
    float: left;
}
.ak2{
    float: left;
    width: 92%;
}
.labeldiv{
    vertical-align: middle;
    width: 100%;
    height: 2em;
}
.labeldiv2{
    vertical-align: middle;
    width: 100%;
    height: 3em;
}
.role{
    vertical-align: middle;
    width: 100%;
    height: 6em;
}
.cb{
    vertical-align: middle;
    width: 100%;
    height: 5em;
}
.but1{
    float: right;
    padding-right: 0.5em;
}
.but2{
    float: left;
    padding-left: 0.5em;
}
.tocenter{
    width: 100%;
    padding: 1%;
}
*{
    font-family: arial;
}
