.g1{
    width: 30%;
    display: table;
    float: left;

}
.g2{
    width: 70%;
    display: table;
    float: left;

}
*{
    box-sizing: border-box;
}
.mar{
    margin-top: 0.33em;
    margin-bottom: 0.33em;
}
.margin{
    margin-top: 0.13em;
    margin-bottom: 0.13em;
}
.margin3{
    margin-top: 0.13em;
}
.margin4{
    margin-top: 0.60em;
}
.field{
    width: 50%;
}
